@font-face {
    font-family: Roboto;
    src: url(/fonte/Roboto-Regular.ttf);
    font-family: Roboto Negrito;
    src: url(/fonte/Roboto-Bold.ttf);
}
/* Trabalhando com os títulos*/
h1 {
    color: #c0262c;
    font-size: 2.5em;
    font-family: Roboto Negrito;
    border-bottom: #c0262c thin solid;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.75em;
    background: url(/Multimidia/back-bolinha.gif) #c0262c repeat top center;
    color: white;
    letter-spacing: 0.1em;
    padding: 10px;
    width: 320px;
}

/* Trabalhando com o formulário */

form {
    background-color: #999;
    margin: 30px 0;
    padding: 20px;
    border-radius: 0 15px;
}
input[type="submit"]{
    background-color: #c0262c;
    background: linear-gradient(to bottom, #6b1516 0%, #c0262c 30%,#c0262c 70%, #6b1516 100%);
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    color: white;
    padding: 10px 30px;
    margin: 20px 0;
    text-shadow: 2px 2px 5px black ;
    cursor: pointer;
}

input#nome, input#email {
    background-color: transparent;
    border: none;
    border-bottom: black solid 1px;
    font-size: 1.2em;
    color: white;
    width: 800px;
}

input#nome::placeholder,input#email::placeholder {
    color: white;
}

label {
    display: block;
    margin-top: 10px;
    float: left;
    width: 60px;
}

/* Trabalhando com o texto */

p {
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}

p:first-line {
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;

}

hr {
    border-color: #c0262c;
}

body {
    font-family: Roboto;
}
/* Trabalhando a página curiosidades*/

#curiosidades h2{
    background-color: #c0262c;
    background-image: url(/Multimidia/importante-saber.jpg), url(/Multimidia/back-bolinha.gif);
    background-repeat: no-repeat, repeat;
    background-position: center right,center center;
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    width: 470px;
    padding: 61px 400px 61px 100px;
}

#curiosidades figcaption {
    background-color: #c0262c;
    padding: 10px 10px;
    color: white;
    font-size: 1.5em;
}

#curiosidades figure {
    border: #c0262c solid thin;
    border-radius: 35px 35px 0 0;
    padding: 20px 0 0;
    text-align: center;
}

#curiosidades ul li {
    list-style-type: none;
    list-style-image: url(/Multimidia/ossinho.png);
    list-style-position: inside;
    margin: 30px 0;
    
}

#curiosidades dt {
    color: white;
    background-color: #c0262c;
    padding: 10px;
}

#curiosidades dd {
    border: #c0262c solid thin;
    border-radius: 0 0 25px 25px;
    margin-top: -3px;
    margin-bottom: 30px;
    padding: 20px 20px 0;
}
#curiosidades ol {
    list-style-type: none;
    white-space: pre;
    line-height: 0.9em;
    /*definir contador*/
    counter-reset: contador;
} 
#curiosidades ol li::before {
    color: #999;
    counter-increment: contador;
    content: "Questão " counter(contador) " \00BB " ;
}

#curiosidades ul li a {
    text-decoration: none;
    color: #c0262c;
    font-weight: bold;
    padding: 10px;
}
#curiosidades ul li a:hover {
    text-decoration: underline;
}

#curiosidades dd a[target="_blank"] {
    text-decoration: none;
    color: #c0262c;
    font-weight: bold;
    padding: 10px;
    display: inline-block;

}
#curiosidades dd a[target="_blank"]:hover {
    text-decoration: underline;
}

#curiosidades dd a[href="#topo"] {
    text-decoration: none;
    font-variant: normal;
    color: #c0262c;
    font-weight: bold;
    padding: 10px 0 10px 30px;
    background:url("/Multimidia/seta-voltar.png") no-repeat left center;
}

#curiosidades dd a[href="#topo"]:hover {
    text-decoration: underline;
    background:url("/Multimidia/seta-voltar-hover.png") no-repeat left center;
}

/* Trabalhando a página produtos*/

#produtos table {
    width: 600px;
    margin: 50px auto 30px;
    text-align: center;
    border-collapse: collapse;
}

#produtos th, #produtos td {
    border: black solid thin ;
    padding: 5px;  
}

#produtos caption {
    background-color: #999;
    color: white;
    padding: 15px 0;
    font-size: 1.5em;
    font-weight: bold;
    caption-side: top;
}

#produtos td[colspan]{
    font-style: italic;
    font-weight: bold;
    color: #999;
}

#produtos tr:hover{
    background-color:#feff76;
}

/* Início do banho e tosa  */

#banhoetosa fieldset {
    background-color: white;
    border-radius: 0 15px;
    border: none;
    margin-bottom: 20px;
}

#banhoetosa fieldset legend {
    background-color: #c0262c;
    color:white;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding: 10px;
    margin-left: -13px;
}

#banhoetosa fieldset label {
    display: block;
    margin-top: 5px;
    float: left;
    width: 115px;
}

#banhoetosa fieldset input[type="text"], 
#banhoetosa fieldset input[type="email"], 
#banhoetosa fieldset input[type="datetime-local"] {
    border: none;
    border-bottom: black solid 1px;
    font-size: 1.2em;
    color: #000000;
    width: 770px;
}

#banhoetosa textarea#q_obs {
    border: none;
    border: black solid 1px;
    font-size: 1.2em;
    color: black;
    width: 770px;
    resize: none;
    height: 100px;
}

#banhoetosa p {
    float: left;
}

#banhoetosa p::first-line {
    font-size: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-style: inherit;
}

.labelsimples {
    display: inline;
    float: none;
}

#banhoetosa main h2 {
    background: #fef84f url(/Multimidia/postit.jpg) no-repeat top left;
    color: #000000;
    padding: 35px;
    width: 207px;
    height: 115px;
    font-size: 1.3em;
    letter-spacing: 0.07em;
   
}

/* estrutura do index  */

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    width: 240px;
    float: left;
    background-image: url(/Multimidia/meu-amigo-cao-petshop-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    text-indent: -1000px;
    border: none;
}

header #anuncio {
    width: 510px;
    float: left;
    margin: 80px auto auto;
    padding-top: 0px;
}

header section {
    padding-top: 70px;
}

header section a[href="boletim.html"] {
    border: #c0262c solid thin;
    padding: 15px;
    border-radius: 15px;
    color: #c0262c;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

header section a[href="boletim.html"]:hover {
    background-color: #c0262c;
    color: white;
}

header section p {
    color: #999;
    margin: 33px auto 7px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

header section figure {
    width: 100%;
    margin: 0px;
}

header section figure a {
    padding: 25px 5px 0;
    border: none;
}

header section figure a:first-child {
    padding: 25px 5px 0 0;
}

header section figure a:last-child {
    padding: 25px 0 0 5px;
}

/* Estrutura de Navegação */

nav {
    background-color: #000000;
    overflow: auto;
    clear: both;
    margin-top: 10px;

}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 1px;
}

nav ul li {
    float: left;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px 50px;
    line-height: 2em;
}

nav ul a:active {
    background-color: #c0262c;
}

nav ul a:hover {
    background-color: #c0262c;
}

nav ul a:focus {
    background-color: #c0262c;
}

#home a[href="index.html"], 
#banhoetosa a[href="banho-e-tosa.html"], 
#boletim-f a[href="boletim.html"], 
#curiosidades a[href="curiosidades.html"], 
#produtos a[href="produtos.html"], 
#quemsomos a[href="quem-somos.html"] {
    background-color: #c0262c;
}

/* Estrutura da Página Inicial */

#home aside {
    width: 230px;
    float: left;
    margin-top: 30px;
}
#home main {
    width: 490px;
    float: left;
    margin: 30px 25px 10px;
}

/* Rodapé */

footer {
    clear: both;
    border-top: #999 10px solid;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p, footer p::first-line, footer p a  {
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    color: white;
    text-decoration: none;
}